# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Virtual environment
.venv/
env/
venv/

# Environment variables / secrets
.env
*.env

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/

# Node / React
node_modules/
dist/
build/